{% layout none %}


<div class="row product-quick-view">
  {% section 'product-template' %}
</div>

<script>
{% if settings.ajax_cart_method != 'page' %}
  jQuery(function($) {
    ajaxifyShopify.init({
      method: '{{ settings.ajax_cart_method }}',
      wrapperClass: 'page-wrap',
      formSelector: '#AddToCartForm',
      addToCartSelector: '#addToCart',
      cartCountSelector: '#item_count',
      toggleCartButton: '.my-cart-link',
      useCartTemplate: false,
      btnClass: 'btn',
      moneyFormat: {{ settings.money_format | json }},
      disableAjaxCart: false,
      enableQtySelectors: true
    });
  });
  {% endif %}
  Shopify.PaymentButton.init()
</script>
